article, aside, blockquote, body, button, code, dd, details, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, input, legend, li, menu, nav, ol, p, pre, section, span, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  outline: 0;
}