article, aside, blockquote, body, button, code, dd, details, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, input, legend, li, menu, nav, ol, p, pre, section, span, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  outline: 0;
}
//.c-full-footer .container .footer-right .public .weibo:hover .weibo-code, .c-full-footer .container .footer-right .public .weixin:hover .weixin-code, .c-full-header .nav .nav-cells #nav-client:hover .qr-code, .c-full-page .pageNumber li a, .c-full-top .connection .follow:hover .follow-code, .c-full-top .connection .service:hover .service-code, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
//  display: block;
//}

a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
  outline: none!important;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  border: 0 none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.books-list .book {
  position: relative;
  float: left;
  padding: 20px 15px;
}

.books-list .book .cover {
  float: left;
  width: 90px;
  height: 120px;
  border: 1px solid #ebebeb;
  background: url(../images/img-bk.png) no-repeat center;
  background-size: 100%;
  box-shadow: 2px 4px 6px #bbb;
}

.books-list .book .right {
  height: 120px;
  margin-left: 105px;
}

.books-list .book .right .name {
  height: 22px;
  line-height: 22px;
  color: #333 !important;
}

.books-list .book .right p {
  height: 20px;
  line-height: 20px;
  color: #999;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}

.books-list .book .right p.author {
  height: 28px;
  line-height: 28px;
}

.books-list .book .right p.desc {
  height: 40px;
  margin: 5px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.books-list .book .right p.popularity {
  margin-top: 10px;
}

.c-red {
  color: #d82626;
}

.split {
  padding: 0 10px;
}